#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

/* LABEL */
.labels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    /* display: block; */
    font-size: 0.75rem;
    font-weight: 500;
    color: #888;
    margin-bottom: -5px;
    max-width: 100%;
    text-transform: capitalize;
}

/* Delete Button */
.del-button {
    flex: 0.05;
    box-shadow: inset 0px -3px 7px 0px #e75050;
    background: linear-gradient(to bottom, #e75050 5%, #fa0606 100%);
    background-color: #e75050;
    border-radius: 5px;
    border: 1px solid #8d8f8b;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 4px 4px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
    margin-top: 5px;
}
.del-button:hover {
    background: linear-gradient(to bottom, #fa0606 5%, #e75050 100%);
    background-color: #fa0606;
}
.del-button:active {
    position: relative;
    top: 1px;
}

/* INPUTS */
.text-inputs {
    display: flex;
    flex: 1;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-column-gap: 10px; */
    /* grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch; */
}

.text-input {
    flex: 1;
    margin-right: 10px;
}

input {
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 5px;
}
input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

/* ADD ITEM BUTTON*/
.add-item {
    box-shadow: inset 0px -3px 7px 0px #29bbff;
    background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color: #2dabf9;
    border-radius: 5px;
    border: 1px solid #8d8f8b;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 8px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
    margin-top: 5px;
}
.add-item:hover {
    background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    background-color: #0688fa;
}
.add-item:active {
    position: relative;
    top: 1px;
}

/* PRE */
pre {
    background-color: rgb(236, 234, 234);
    border: 1px solid rgb(155, 155, 155);
    border-radius: 5px;
    padding: 15px;
    font-size: 12px;
}

/* Sample Data */
.sample-data .title {
    height: 30px;
    display: flex;
    flex-direction: row;
    flex: 1;
    line-height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #0d1117;
    border-bottom: 2px solid #ccc !important;
    font-size: 18px;
    font-weight: bold;
    font-family: verdana;
    color: white;
    padding: 10px;
    border: 1px solid gray;
    border-bottom: none;
    justify-content: space-between;
}
.sample-data .content {
    width: auto;
    background-color: #0d1117;
    font-size: 12px;
    color: #c9d1d9;
    word-wrap: anywhere;
    white-space: pre;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 20px;
    vertical-align: top;
}
